<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand col-md-9" style="color: white"
    >Charlie Online Food Chain</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/login" style="color: white">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customer/login" style="color: white"
          >Customer</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="color: white">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts" style="color: white">Contact</a>
      </li>
    </ul>
  </div>
</nav>
