<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Charlie Online Food System</h1>
        <p class="lead">We prefer Quality over quantity</p>
      </div>
    </div>

    <hr />
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-volume-up fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Stay <span>Successful</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              We are Successful if our customers are satisfied.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              <span>An Effective Team</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              This brings our full potential to the customer service
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-globe fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Humble
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Being humble and rational all the times is our goal
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-trophy fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Achieve <span>Our Targets</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              By provding best services we achieve our targets
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
